/*******************/
// Theme Fonts
/********************/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
$font-family-sans-serif: "Nunito", sans-serif;
/*******************/
// Theme Colors
/********************/
$primary: #010101;
$info: #3699ff;
$danger: #f64e60;
$success: #0bb7af;
$warning: #ee9d01;
$dark: #3b3e40;
$light: #000000;
$secondary: #35363b;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "light-primary": #d6e4f3,
  "light-success": #d5f3f2,
  "light-info": #d3edfa,
  "light-warning": #f8ecdc,
  "light-danger": #f8dddd,
);
// scss-docs-start gray-color-variables
$white: #eee676 !default;
$gray-100: #f8f9fa !default;
$gray-200: #eef5f9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #757e85 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1e2a35 !default;
$black: #000 !default;

/*******************/
// Theme Text Contrast
/********************/
$min-contrast-ratio: 2;

/*******************/
// Theme body bg & text color
/********************/
$body-bg: $gray-200 !default;
$body-color: $gray-900 !default;

/*******************/
// Theme common variable
/********************/
$border-radius: 0.3rem !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.05);
$headings-font-weight: 600 !default;

$card-border-width: 0 !default;
$card-box-shadow: $box-shadow !default;
$grid-gutter-width: 1.85rem !default;
$card-bg: $white;

$input-bg: $white !default;
$list-group-bg: $white !default;
$table-bg: $white !default;
$dropdown-bg: $white !default;

/*******************/
// Theme btn
/********************/
$btn-focus-width: 0px;

/*******************/
// Theme sidebar width
/********************/
$sidebarWidth: 260px;
$sidebarColor: $white;

$btn-d: 5em;
$txt-w: 4*$btn-d;
$txt-h: .65*$btn-d;
$txt-c: #ffeacc;
$mag-d: .5*$txt-h;
$mag-f: .125;
$mag-w: $mag-f*$mag-d;
$mag-c: #000;
$t: .65s;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit
}

html {
  overflow-x: hidden
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 400px;
  min-height: 100vh;
  background: #252525
}

[id='search-btn'] {
  position: absolute;
  left: -100vw;

  ~* {
    --i: var(--pos, 1);
    --j: calc(1 - var(--i))
  }

  &:checked~* {
    --pos: 0
  }
}

[for='search-btn'] {
  order: 1;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-left: -.25*$btn-d;
  width: $btn-d;
  height: $btn-d;
  border-radius: 50%;
  transform: translate(var(--pos, -.5*$txt-w)) rotate(45deg);
  background: hsl(calc(336 - var(--i)*269), calc(77% + var(--i)*2%), calc(49% + var(--i)*13%));
  text-indent: -100vw;
  transition: $t ease-out;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.5*$mag-d;
    width: $mag-d;
    height: $mag-d;
    transition: inherit;
    content: ''
  }

  &:before {
    margin-top: -.4*$mag-w;
    height: $mag-w;
    transform-origin: 100% 0;
    transform: translate(var(--pos, .25*$mag-d)) scalex(calc(1 - var(--i)*.5));
    background: currentcolor;
  }

  &:after {
    border: solid $mag-w currentcolor;
    border-radius: calc(var(--i)*50%);
    transform: translate(var(--pos, -.25*$mag-d)) scalex(calc(var(--j)*#{$mag-f} + var(--i)));
    box-shadow: inset 0 0 0 calc(var(--j)*#{.5*$mag-d}) currentcolor;
    transition-property: border-radius, transform, box-shadow;
    transition-timing-function:
      cubic-bezier(calc(var(--j)*.42), 0, calc(1 - var(--i)*.42), 1),
      cubic-bezier(calc(var(--i)*.42), 0, calc(1 - var(--j)*.42), 1)
  }
}

[id='search-bar'] {
  margin-right: -.25*$btn-d;
  border: none;
  padding: 0 1em;
  width: $txt-w;
  height: $txt-h;
  border-radius: $txt-h;
  transform: translate(var(--pos, .5*$txt-w));
  background: #3f324d;
  --cp: inset(-2em var(--pos, 100%) -2em -2em);
  -webkit-clip-path: var(--cp);
  clip-path: var(--cp);
  color: #fff;
  font: 1em century gothic, verdana, arial, sans-serif;
  transition: $t;

  &::placeholder {
    opacity: .5;
    color: inherit;
    font-size: .875em;
    letter-spacing: 1px;
    text-shadow: 0 0 1px, 0 0 2px
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1.5em $txt-c, 0 1.25em 1.5em rgba(#000, .2);
    background: $txt-c;
    color: #000;
  }
}

.main {
  text-align: center;
  margin: 2rem;
}

/* what you need */

#searchbar {
  margin-left: 15%;
  padding: 15px;
  border-radius: 10px;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus, 
        change its width to 100% */
input[type=text]:focus {
  width: 70%;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

.animals {
  display: list-item;
}

.container {
  align-items: center;

}

// .card-center {
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   width: 100%;
//   height: auto;

//   background: #a8d0e6;
//   background-image: linear-gradient(to right, #fbe9a1, #ffefef);
//   background-attachment: fixed;
//   background-size: cover;
// }


.button-shift {
  margin: auto;
}